<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/vue@3.0.2"></script>
  <title>Vue JS Demo Application</title>
</head>
<body>

  <!-- Main Vue App -->
  <div id="app">
    <h2>{{ title }} - {{ author }} - {{ age }}</h2>

    <!-- Event Handling -->
    <button @click="age++">Get Older</button>
    <button @click="age--">Get Younger</button>
    <button @click="title = 'The title has changed.'">Change Title</button>

    <!-- v-for Loop -->
    <ul>
      <li v-for="book in books">{{ book }}</li>
    </ul>
  </div>

  <!-- Two-Way Binding Section -->
  <div id="two-way-binding">
    <p>{{ message }}</p>
    <input v-model="message" placeholder="Type your name" />
  </div>

  <!-- Conditional Rendering Example -->
  <div id="conditional-rendering">
    <span v-if="seen">Now you see me</span>
  </div>

  <!-- v-if / v-else Toggle -->
  <div id="books">
    <div v-if="showBooks">
      <p>{{ btitle }} - {{ bauthor }} - {{ year }}</p>
    </div>
    <button @click="toggleShowBooks">
      <span v-if="showBooks">Hide Books</span>
      <span v-else>Show Books</span>
    </button>
  </div>

  <!-- v-for List Rendering -->
  <div id="list-rendering">
    <ol>
      <li v-for="todo in todos">{{ todo.text }}</li>
    </ol>
  </div>

  <!-- JS Files -->
  <script src="app.js"></script>
  <script src="twoway.js"></script>
  <script src ="conditionalif.js">

</body>
</html>
